[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/

!*.meta

.vs/
.vscode/
.idea/
.rider/
*.sln
*.csproj
*.user
*.rsuser
*.suo

.DS_Store
Thumbs.db

*.apk
*.aab
*.exe
*.dll
*.pdb

*.log
*.tmp
.cache/

# Local Unity assets not for push
UnityClient/Assets/Scripts/New Folder/
UnityClient/Assets/Scripts/New Folder.meta
UnityClient/Assets/Scenes/New Scene.unity
UnityClient/Assets/Scenes/New Scene.unity.meta
UnityClient/Assets/Tiles/
UnityClient/Assets/Tiles.meta
UnityClient/Assets/UI/
UnityClient/Assets/UI.meta


